<div class="container-fluid section2 bg-light"> 
    <div class="row mt-5">
     <img id="img1" class="  col-lg-6 " [src]="image">
     <div class=" col-lg-6"> 
        <div class="container  mt-3">
            <p>The Best Choice</p>
            <h2>We Build Future with Education</h2>
            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explore.</p>
       <div class="row mt-5">
        <div class=" col-12 col-lg-6 ">
            <i class="bi  bi-mortarboard-fill"></i><h3 class=" offset-1">Professional Degree</h3>
            <p class="offset-2">Professional degrees are degrees recognized by the US Department of Education as necessary for subsequent licensing.</p>
        </div>
        <div class="col-12 col-lg-6">  
        <i class="  bi  bi-lightbulb-fill"></i><h3 class=" offset-1 ">The Best courses</h3>
        <p class="offset-2">Find Courses and Specializations from top universities like Yale, Michigan, Stanford, and leading companies like Google and IBM.</p>
      
       </div>
        </div>
     </div>
    </div> 
    </div>
    
    
    <div class="container-fluid  bg-light"> 
        <div class="row">
            <div  class=" mt-5 offset-lg-1 col-lg-4"> <p >The Best Choice</p> 
            <h2 id="cons" class="mt-2">Get Free Consultation</h2>
            <div class="mb-3 mt-4">
                <label for="exampleFormControlInput1" class="text-primary form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="text-primary  form-label">Enter your message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            <button type="button " class="btn fs offset-2 offset-lg-0  btn-outline-success">Send a Message</button>                         
             </div>
            <img id="img2" class=" col-12 col-lg-7 " [src]="myimage">
         </div>
    </div>
    