<div class="bg-dark text-center text-light p-5">
    <h1 class="text-center mb-3" id="About">About Us</h1>
    <p>Trailhead Compound | 922 Shoofly St. Santa Fe, NM 87505</p> 
    <p>+1 (505) 310-0089  |  cafe@trailheadsantafe.com</p>   
    <p>Monday to Saturday  8am - 3pm  | Sunday 9am - 3pm</p>      
    <p>Join our team</p> 
    <p>Links</p>
    <i class="fa fa-facebook-square" style="font-size:36px"></i>
    <i class="fa fa-tripadvisor" style="font-size:36px"></i>
    <i class="fa fa-twitter-square" style="font-size:36px"></i>
    <i class="fa fa-whatsapp" style="font-size:36px"></i><br><br><br>

    <a href="#CoffeeShop" class="btn btn-outline-info">Header Page</a>
</div>

