
<footer class="bg-dark text-light mt-5" >
    <div class="container">
    <p class=" offset-lg-2   mt-5 col-lg-5">Customer Service
      We are open Saturday to Thursday 8 am to 9 pm & Friday 12 pm to 9 pm (Egypt local time, GMT +3)
    </p>
    <div class="row">
    <div class="contact mt-3 col-lg-4 col-12">
    <div id="loc" >   <i  class="bi  m-5 icontact bi-geo-alt-fill"></i><p>heliopolis,Cairo,Egypt</p> </div>
    <div id="info" >  <i  class="bi   m-5  icontact bi-envelope-at"></i><p>infoITI@Yalla.online</p> </div>
    <div id="tel" >   <i  class="bi   m-5 icontact bi-telephone-fill"></i><p>+00201068068512</p> </div>
    </div>
    <div class=" col-lg-5 offset-1 col-10 mt-5"> 
      <i id="facebook" class= " offset-3  bi bi-facebook"></i>
      <i  id="twitter" class="bi  bi-twitter"></i>
      <i id="instagram" class="bi  bi-instagram"></i>
    </div>
</div>
    <a >  <i   class="bi btn bi-arrow-up-square-fill"></i></a>
    <p class="offset-lg-3">AxiomThemes © 2023 All rights reserved. Terms of use and Privacy Policy</p>
   </div>
  </footer>

