
<section class="container">

    <div class="service container mt-3">
        <div class="line mb-5 L3 py-1">
            <p class="text-secondary">What We Do</p>
            <h2>
                Unlimited Possibilities
            </h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="items text-center">
                        <i class="bi bi-journal-bookmark-fill"></i>
                        <h3>Online Courses</h3>
                        <p class="text-secondary">
                            Choose from hundreds of free training courses,
                            or pay to get certified to complete a course or specialization.</p>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="items text-center">
                        <i class="bi bi-lightbulb"></i>
                        <h3>Our Mission</h3>
                        <p class="text-secondary">Developing strong vision and mission
                            statements can help stakeholders in your school reach such a common understanding.</p>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="items text-center">
                        <i class="bi bi-gear-wide-connected"></i>
                        <h3>Professional Certificate </h3>
                        <p class="text-secondary">Join the millions of students around the world who are already
                            learning! Find an experienced and suitable instructor only for you.</p>
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>