<div class="container bg-light  mt-5 ">
    <p>The Best Choice </p>
    <h1>What Our Clients Say</h1>
    <i class="bi bi-chat-right-quote"></i>
    <p class=" offset-lg-2 col-lg-8">I am absolutely happy about the results of my trainging course, and would love to thank all teachers who have put their effort in creating such an awesome atomsphere in class </p>
<h5>Ammar Eltoukhy </h5>
<p>manager</p>
<img class="img-fluid rounded-circle "  id="img" [src]="image" >
</div>
<div class="container bg-light mt-5  ">
    <i class="bi bi-chat-right-quote"></i>
    <p class=" offset-lg-2 col-lg-8">studies have found that approximately 92% of people will read customer testimonials when  they trust online reviews just as much as they believe a recommendation considering a purchase</p>
<h5>Liza Brown </h5>
<p>manager assistant</p>
<img class="img-fluid  rounded-circle "  id="img" [src]="myimage" >
</div>

