
<section class="container mt-5" id="myslider">
    <div class="row">
        <div class="col-md-6">
        <img [src]="imgSrc" width="400" height="400" class="boximg ms-4">    
        </div>
    
        <div class="col-md-6 pt-5">
            <p class="p1">INNOVATIVE PROGRAMS</p>
            <h1>Creative Learning <br> Solutions</h1>
            <p class="txt fs-5 fw-light">Our school is known for the high-quality education programs.
                 We work with the best teachers who know how to engage students in the learning activities!</p>
    
       
           <div class="mt-5">
            <a href="#myslider" (click)="show()" > Productive </a>  
            <a href="#myslider" (click)="show()"> Creative</a>  
            <a href="#myslider" (click)="show()"> Succesful</a>
           </div>
          
        </div>
    </div>
    </section>